*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --linear:linear-gradient(100deg, #f9643d, #fe2a77);
    --span:#707d8f;
    --font:"Titillium Web", sans-serif ;
}
body{
    width: 100%;
    height: 100vh;
    position: relative;
}
.text{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.text h1{
    font-size: 200px;
    font-weight: 600;
    font-family: var(--font);
}
.text h2{
    font-size: 30px !important;
    font-weight: 600;
}
.text p{
    font-size: 15px;    
    color: var(--span);
}
.text button{
    background-image: var(--linear);
    color: white !important;
    width: 150px;
    height: 43px;
}